<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
    <title>Depósito</title>
</head>
<body  style=" background-color:#1693a5">
    <header>
        <h1>Depósito em Conta Corrente</h1>
    </header>

    <div class="container-login">
        <form action="../src/dp-conta.php" method="post">

            <label for="" class="label">Digite o Valor do Depósito </label><br>
            <input type="text" name="valordc" class="input"><br>
            <label for="" class="label">Digite seu CPF</label><br>
            <input type="text" name="cpf_conta" class="input"><br>
            <input type="submit" class="submit"><br><br>
            <a href="home.html">Voltar a Tela Inicial</a>
        </form>
    </div>
    
</body>
</html>