

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
    <title>Fecha conta</title>

</head>
<body style=" background-color:#1693a5">
    <header>
        <h1>Fecha Conta</h1>
    </header>



    <div  class="container-login">
        <form action="../src/fecha-conta.php" method="post">
            <label for="" class="label">Digite seu usuário</label><br>
            <input type="text" name="usuario" class="input"><br>
            <label for="" class="label">Digite sua Senha</label><br>
            <input type="text" name="senha" class="input"><br>
            <input type="submit" class="submit"><br><br>
            <a href="./home.html">Voltar a Tela Inicial</a>

        </form>
        
        <div>
           
        </div>
    </div>
    
</body>
</html>