
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pagina Inicial</title>

</head>
<body  style=" background-color:#1693a5">
  
    <header >
        <h1>Bem Vindo ao ADS Bank!</h1>
    </header>

    <div class="home-grid"> 
        
       
         
                <a href="saldo.html>Saldo" class=" g1 ">Saldos</a>
            
            
        
                <a href="saque-corrente.html" class=" g1 ">Saque Conta Corrente</a>
            
            
                 <a href="saque-poupanca.html" class=" g1">Saque  Poupanca</a>
            
       
      
            
                <a href="deposito-conta.html" class=" g1 ">Deposíto Conta</a>
            
            
                <a href="deposito-poupanca.html" class=" g1 ">Deposíto Poupança</a>
        
            
            
                <a href="fecha-conta.html" class=" g1 ">Fecha Conta</a>
            
        
    
        
          
                <a href="../index.html" class=" g1 ">Sair</a>           
        
    </div>
   
</body>
</html>