<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/style.css">
    <title>Abrir conta</title>
</head>
<body style=" background-color:#1693a5">
    <header>
        <div>
            <h1>Bem Vindo!</h1>
        </div>
    </header>
    
    <div  class="container-login-nova" >
        <form action="../src/nova.php" method="post">
            <label for="" class="label">Digite seu nome completo</label><br>
            <input type="text" name="nome" class="input"><br>
            <label for="" class="label">Digite seu CPF</label><br>
            <input type="text" name="cpf" class="input"><br>
            <label for="" class="label">Digite um nome de usuário</label><br>
            <input type="text" name="usuario" class="input"><br>
            <label for="" class="label">Escolha uma senha</label><br>
            <input type="password" name="senha" class="input"><br>
            <label for="" class="label">Digite a senha novamente</label><br>
            <input type="password" name="senhac" class="input"><br><br>
            <input type="submit" class="submit-nova"><br>
            <a href="../index.html"> Voltar a Tela inicial</a>
    </div>
    
</body>
</html>