<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque</title>
</head>
<body>
    <header>
        <h1>Saque em Conta Corrente</h1>
    </header>

    <div>
        <form action="../src/processa-saque-corrente.php" method="post">

            <label for="">Digite o Valor do Saque </label><br>
            <input type="text" name="valor_c"><br>
            <label for="">Digite seu CPF</label><br>
            <input type="text" name="cpf_conta_c"><br>
            <input type="submit">
        </form>

        <div>
            <a href="home.html">Voltar a Tela Inicial</a>
        </div>
    </div>
    
</body>
</html>